textarea {
  width: 100%;
}

#yellow-button {
  background-color: yellow;
}

#print-button {
  float: right;
}

#save-button {
  float: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.yellow {
  background-color: yellow;
}

#displayarea {
  border: solid lightgray;
  height: 500px;
}
